@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: azure;
    font: normal 1.3em Helvetica;
}
header{
    color: white;
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}
a:hover{
    background-color: gray;
    text-decoration:underline overline;
}   

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
}

section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    color: white;
    background-color: rgb(100, 98, 98);

}

section.imagem p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.459);
    
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}
